:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: #ffffff;
}

a {
  text-decoration-line: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);

  margin-right: 76px;
}

.logo .studio {
  color: var(--dark);
}

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 40px;
}

.navigation .link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);

  padding: 24px 0;
  display: block;

  position: relative;
}

.navigation .link:hover {
  color: var(--pressed-state);
}

.navigation .link:focus {
  color: var(--pressed-state);
  text-decoration: underline;
}

.link.current {
  color: var(--pressed-state);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
  left: 0;
}

.contacts {
  font-style: normal;

  display: flex;
  gap: 40px;
}

.contacts .link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);

  padding: 24px 0;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--pressed-state);
}

main {
  flex-grow: 1;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  margin: auto;

  height: 600px;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);

  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  flex-shrink: 0;
}

.order-button {
  display: block;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 169px;
  height: 56px;

  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--pressed-state);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.features-list {
  display: flex;
}

.features-item {
  max-width: 264px;
}

.features-item:not(:last-child) {
  margin-right: 24px;
}

/* .antenna::before {
    background-image: url(../images/icomoon/SVG/antenna.svg);
}

.vector::before {
    background-image: url(../images/icomoon/SVG/Vector.svg);
}

.diagram::before {
    background-image: url(../images/icomoon/SVG/diagram.svg);
}

.astronaut::before {
    background-image: url(../images/icomoon/SVG/astronaut.svg);
} */

.features-icon {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light);
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
}

.features-list .features-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);

  margin-bottom: 8px;
}

.features-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.team {
  background-color: var(--light);
}

.team-list {
  display: flex;
}

.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);

  margin-bottom: 72px;
}

.team-card {
  background-color: var(--white-background);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card:not(:last-child) {
  margin-right: 24px;
}

.member {
  padding: 32px 0;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);

  margin-bottom: 8px;
  text-align: center;
}

.member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: center;
  margin-bottom: 8px;
}

.social-network-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-network-item {
  width: 40px;
  height: 40px;
}

.social-network-link:hover {
  background-color: var(--pressed-state);
  fill: var(--light);
}

.social-network-link:focus {
  background-color: var(--pressed-state);
  fill: var(--light);
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: var(--primary-brand);

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-icon {
  fill: var(--light);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);

  margin-bottom: 72px;
}

.portfolio-card {
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .product-description {
  transform: translateY(0%);
}

.box {
  padding: 32px 16px;
  border-bottom: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}

.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);

  margin-bottom: 8px;
}

.product-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.footer {
  background-color: var(--dark);

  padding: 100px 0 100px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.webstudio {
  width: 264px;
  text-align: left;
  margin-right: 120px;
}

.footer .container .logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.logo .footer-logo {
  color: var(--light);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}

.social-media {
  margin-right: 80px;
}

.social-media-paragraph,
.subscribe-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);

  margin-bottom: 16px;
}

.social-media .social-network-list {
  gap: 16px;
}

.social-media .social-network-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media .social-network-link:hover {
  background-color: var(--success);
}

.social-media .social-network-link:focus {
  background-color: var(--success);
}

.subscribe {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  border: 1px solid var(--white-background);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background);
}

.subscribe-input::placeholder {
  color: var(--white-background);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  cursor: pointer;

  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;

  background-color: var(--primary-brand);
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-background);

  fill: var(--white-background);
}

.subscribe-icon {
  margin-left: 16px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 72px 24px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input,
textarea,
button {
  font-family: inherit;
}

/* .close {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 24px;
} */

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--pressed-state);
  border: none;
}

.close-button-icon {
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--white-background);
}

.user-dates {
  margin-bottom: 8px;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
  margin-bottom: 16px;
}

.form-label {
  display: flex;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);

  display: block;
  margin-bottom: 4px;
}

.input {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;

  left: 16px;
  top: 50%;
  fill: var(--dark);

  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;

  padding-left: 38px;
  margin-top: 4px;
  width: 100%;
  height: 40px;

  position: relative;

  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--primary-brand);
}

.form-input:focus + .form-icon {
  fill: var(--primary-brand);
}

.comment {
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;

  padding: 8px 16px;

  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: var(--primary-brand);
}

.user-comment {
  margin-bottom: 16px;
}

.agreement {
  margin-bottom: 24px;
}

.input-check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement {
  color: var(--subtle-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  cursor: pointer;

  margin-right: 8px;
  vertical-align: sub;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: transparent;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-check:checked + .form-agreement .checkbox {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.policy-link {
  color: var(--primary-brand);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: capitalize;
}

.form-button {
  display: block;

  margin-left: auto;
  margin-right: auto;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-background);
  cursor: pointer;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--primary-brand);
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  display: none;
}

.open {
  display: block;
}
